/*.table-Export {
    border: 1px solid black;
    border-radius: 1px;
    width: 200px;
    height: 250px;
    text-align: left;
    padding: 5px;*/
    /*margin-left: -10px;*/
    /*margin-top:-10px;*/
    /*background-color: #d1e6dd;*/
/*}
    .table-Export a.link {
        display: block;
        width: 70%;
        box-sizing: border-box;
        padding: 5px 5px;
        background-color: #464EB8;
        color: white;
        text-decoration: none;
        margin-left: 10px;
        text-align: center;
        transition: color 0.3s;
    }

        .table-Export a.link:hover {
            color: black;
        }


.table-Body {
    background-color: #E9ECE6;
}*/
/*.Thead {*/
    /*text-align: center;*/
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    /*color: white;*/
    /*font-weight: bold;*/
/*}*/

/*th{
    text-align:center;
}

.small-textbox {
    font-size: 14px;
    text-transform: uppercase;
}

.Thead2 {*/
    /*text-align: center;*/
/*    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
*/    /*color: white;
    font-style: italic;
    font-weight: bold;
}

.Thead3 {
    text-align: center;*/
/*    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
*/    /*color: white;
    background-color: #464EB8;*/
    /*font-style: italic;*/
    /*font-weight: bold;*/
    /*font-size: medium;
}*/