.head {
/*    background-image: url('../Image/bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}
.Body-Content {
    height: contain;
    border-radius: 5px;
    padding: 20px;
    margin-top:5px;
    /*border: 1px solid;*/
    background-image: url('your-background-image.jpg');
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Place the pattern behind the content */
}


.centered-nav {
    /* background-color:royalblue;*/
    display: flex;
    justify-content: center;
    background-color: #444791;
    /*        background-image: url('../Image/bg-img.jpg');*/
    /*background-repeat: no-repeat;
    background-size: cover;*/
}
.nav-items{
    margin-right:90px;
    margin-left:50px;
    border:1px;
    color:whitesmoke;


}
.footer {
    text-align: center;
    height: max-content;
    margin-top: 9px;
    font-size: 14px;

}

.theme {
    background-color: #444791;
}