
@model List<CustomerPortal.Models.Customer>
<link rel="stylesheet" href="~/Css/Main.css" />
<link rel="stylesheet" href="~/Css/Index.css" />
<link rel="stylesheet" href="path-to-bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="~/Js Script/index.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="">
    <div id="">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody id="customer-details">
            </tbody>
        </table>
    </div>
    <div id="editModal" class="modal dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Email</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closeModal()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Enter New Mail Id:</p>
                    <input type="text" id="Mail" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">Close</button>
                    <button type="button" class="btn btn-primary btn-success" id="savebtn">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>

@*<script>

$(document).ready(function () {
    $.ajax({
        url: '@Url.Action("Details", "Home")',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            renderCustomerDetails(data);
        }
    });

    function renderCustomerDetails(data) {
        var detailsContainer = $('#customer-details');
        detailsContainer.empty();

        if (data.length > 0) {
            $.each(data, function (index, customer) {
                var html = '<tr>';
                html += '<td>' + customer.CustomerName + '</td>';
                html += '<td>' + customer.CustomerEmail + ' <a href="#" class="edit-link"><i class="fas fa-edit"></i></a></td>';
                html += '<td>' + customer.CustomerPhone + ' <a href="#" class="edit-link"><i class="fas fa-edit"></i></a></td>';
                html += '</tr>';
                detailsContainer.append(html);
            });
        } else {
            detailsContainer.html('No customer details found.');
        }
    }

    $(document).on('click', '.edit-link', function (e) {
        e.preventDefault();
        editModal.style.display = 'block';
    });
});
function closeModal() {
    var editModal = document.getElementById('editModal');
    var mailInput = editModal.querySelector('#Mail');
    mailInput.value = '';
    editModal.style.display = 'none';
}


$(document).ready(function () {
    $('#savebtn').click(function () {
        var mail = document.getElementById('Mail');
        var maiddata = mail
        if (mail.trim() === '') {
            alert('Enter mail Id');
            return false;
        } else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveMail", "Home")',
                data: { email: mail },
                success: function (response) {
                    if (response.success) {
                        alert('Record saved');
                    } else {
                        alert('Failed to save record');
                    }
                },
                error: function () {
                    alert('An error occurred while saving the record');
                }
            });
        }
    });
});

</script>*@